@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}
.bg-primary {
  background-color: #ff4a00;
}
.text-primary {
  color: #ff4a00;
}
.btn {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.active-link {
  font-weight: bold;
}
